.coffee-image{
    height: 80vh;
    margin: 0;
    padding: 0;
    background:no-repeat center ;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("img/coffeeBackground.jpg")
}